.navbar {
  background-color: var(--mantine-color-white);
  height: 100vh;
  width: 240px;
  padding: var(--mantine-spacing-md);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: relative;
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  overflow-y: auto;
}

.linksInner {
  padding-bottom: var(--mantine-spacing-xl);
}

.link {
  display: flex;
  align-items: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  margin: 0 var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  transition: all 100ms ease;
  text-decoration: none;

  &:hover {
    background-color: var(--mantine-color-blue-6);
    color: var(--mantine-color-white);
  }
}

.linkIcon {
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}
