.header {
  display: flex;
  align-items: center;
  background-color: var(--mantine-color-secondary-6);
}

.userIconHeader {
  margin-left: auto;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.control {
  color: #ffffff;
  font-size: x-large;
  border: none;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .control {
    font-size: x-large;
    margin-left: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 12px;
    background-color: var(--mantine-color-primary-4);
    text-align: center;
    border-radius: 8px;
    color: #ffffff !important;
  }
}