.header {
  display: flex;
  align-items: center;
  background-color: var(--mantine-color-white);
  box-shadow: 0 2px 8px 0 var(--mantine-color-dark-1);
}

.userIconHeader {
  margin-left: auto;
  color: var(--mantine-color-secondary-5);
  font-weight: bold;
  cursor: pointer;
}

.control {
  color: var(--mantine-color-dark-4);
  font-size: x-large;
  border: none;
  cursor: pointer;
}


.logo {
  padding: 12px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .control {
    font-size: x-large;
    margin-left: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 12px;
    padding: 10px;
    background-color: var(--mantine-color-secondary-5);
    text-align: center;
    border-radius: 4px;
    color: #ffffff !important;
  }

  .logo {
    display: none;
  }
}
