.NotificationPopUp {
  position: absolute;
  width: 600px;
  z-index: 20;
  bottom: 30;
  right: 30;
}

@media (max-width: 769px) {
  .NotificationPopUp {
    position: absolute;
    width: 300px;
    z-index: 20;
    top: 50;
    right: 0;
    bottom: auto;
  }
}
